<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelpet">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    android:name="android.hardware.camera2"= Básicamente está dizendo que precisa
        da camera do usuario que e um hardware necessario para que o app funcione
        android:required="true" = E necessario ter o hardware, o app so aparace para
        dispositivos que tenham camera
        android:required="false" = Não e obrigatório, o usuário pode ter ou nao
    -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <!--
     android.permission.READ_EXTERNAL_STORAGE = Leitura de arquivos, armazenamento onde guarda as fotos
     Permissão para que o usuário vizualize a galeria, ler o armazenamento exe
     de fotos, ler o armazenamento externo
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controlller.cadastro.cadastroMotorista.CadastroMotoristaVeiculoActivity"></activity>
        <activity android:name=".controlller.perfil.motorista.PerfilMotoristaActivity" />
        <activity android:name=".controlller.cadastro.cadastroAnimal.CadastroAnimalObservacaoActivity" />
        <activity android:name=".controlller.MainActivity" />
        <activity android:name=".controlller.perfil.motorista.TestePerfilMotoristaActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".controlller.perfil.passageiro.ui.meusAnimais.EditarAnimalActivity"
            android:parentActivityName=".controlller.perfil.passageiro.PerfilPassageiroActivity" />
        <activity android:name=".controlller.cadastro.cadastroAnimal.CadastroAnimalFotoActivity" />
        <activity
            android:name=".controlller.perfil.passageiro.PerfilPassageiroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controlller.cadastro.cadastroMotorista.CadastroMotoristaCrlvActivity" />
        <activity android:name=".controlller.cadastro.cadastroMotorista.CadastroMotoristaFotoActivity" />
        <activity android:name=".controlller.cadastro.cadastroMotorista.CadastroMotoristaTermoActivity" />
        <activity android:name=".controlller.cadastro.cadastroMotorista.CadastroMotoristaCnhActivity" />
        <activity android:name=".controlller.cadastro.cadastroAnimal.CadastroAnimalPorteActivity" />
        <activity android:name=".controlller.cadastro.cadastroAnimal.CadastroAnimalEspecieRacaActivity" />
        <activity android:name=".controlller.cadastro.cadastroAnimal.CadastroAnimalNomeActivity" />
        <activity android:name=".controlller.cadastro.cadastroUsuario.CadastroUsuarioDadosActivity" />
        <activity android:name=".controlller.cadastro.cadastroUsuario.CadastroUsuarioTipoActivity" />
        <activity android:name=".controlller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>